@import "./reset";
@import "./mixins";
@import "./maps";
@import "./botones";
@import "./nav";
@import "./carrousel";
@import "./footer";
@import "./videos";

$black-color: #000;
$purple-color: #667eea;

.black-purpleColorText {
    color: $black-color;

    &:hover {
        color: $purple-color;
    }
}