.logorosh{
    height: 50px;
}

/* .navbar{
    height: 8vh;
} */

.carousel-inner{
    height: 50vh;

}

.crrimg{
    height: 60vh;
    object-fit: cover;
}

.sp-imgs{
    height: 2.5rem;
    width: 4rem;
}

#sp-imgs-fire{
    height: 2.5rem;
    width: 3.5rem;
}